# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/
[Aa]sset[Ss]tore/

# Avoid tracking Unity's auto package cache
[Pp]ackages/packages-lock.json

# Rider / VS / Xcode IDE files
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs

# macOS system files
.DS_Store

# Crash logs
sysinfo.txt
